<h1>Analysis</h1>

<h2>1. Most matches won</h2>
<div>
<app-chart-matcheswon></app-chart-matcheswon>
</div>

<h2>2. Most matches lost</h2>
<div>
<app-chart-matcheslost></app-chart-matcheslost>
</div>

<h2>3. Most matches drawn</h2>
<div>
<app-chart-matchesdrawn></app-chart-matchesdrawn>
</div>

<h2>4. Highest win percentage</h2>
<div>
<app-chart-winpercent></app-chart-winpercent>
</div>

<h2>5. Most goals scored</h2>
<div>
<app-chart-goalsscored></app-chart-goalsscored>
</div>

<h2>6. Most goals conceded</h2>
<div>
<app-chart-goalsconceded></app-chart-goalsconceded>
</div>

<h2>7. Highest goal difference</h2>
<div>
<app-chart-goaldiff></app-chart-goaldiff>
</div>

<h2>8. Highest goals per game</h2>
<div>
<app-chart-goalspergame></app-chart-goalspergame>
</div>

<h2>9. Longest winning streak</h2>
<div>
<app-chart-winstreak></app-chart-winstreak>
</div>

<h2>10. Longest losing streak</h2>
<div>
<app-chart-lossstreak></app-chart-lossstreak>
</div>

<br/><br/>

<button (click)="gotoMatches()">Back to matches list</button>