
.table {
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    float: none;
}


.table-hover tbody tr:hover td

    {

        background-color: #D0EFFC  ;

        }     

.table td {
   text-align: center;   
}